@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    
}


* {
   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
div.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.logo {
    flex:1;    
    flex-direction:column;
    background-color: #596D48;
    display: flex;
    align-items: center;
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    width: 100%;
    background-size: 100% 100%;
    background-position: center; 
    background-repeat: no-repeat;
    
}

.logo-here {
    display: flex;
    color: white;
    font-size: 2rem;
    padding: 1.5em;
    text-align: center;    
    height: 10rem;
    width: 100%;
    background-color: rgba(12,13,14, .6);
    margin-top: 15rem;    
    background-size: 100% 100%;    
    justify-content: center;
    align-items: center;
    
}
.logo-here > img {
    height: 8.5rem;
    
}
img + p {
    font-size: 6rem;
    font-family: 'Norse';

}
.content {
    flex:1.5;    
    
    display: flex;
    align-items: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40rem;
    width: 100%;    
    font-size: 1.5em;  
}
.form-text {
    padding: 2.5rem 4rem;
    font-size: 1.7rem;
    font-weight: bold;
}
div.form-text > p + p{
    padding: 2.2rem 0 3rem 0;
}
.italic {
    font-style: italic;
}
form {
    box-shadow: 0 5px 10px rgb(179, 176, 176);
    padding-left: 4rem;
    padding-top: 2rem;
}
form label {
    font-size: 1rem;
}

form > p {
    font-size: 2rem;   
    margin-bottom: 15px;
}
.form-wrapper{
    display: flex;
    padding: 0 0 3rem 0;
    
}
.form-column {
    display:flex;
    flex-direction: column;
    margin-right: 3rem;
}
.form-item {
    margin-right: 2rem;
}
.form-item > p + input {
    width: 23rem;
    height: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 5px;
}
button {
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 5px;
    background-color: #596D48;
    color: white;
    width: 15rem;
    margin: 30px 0 0 4rem;
}


input:invalid {
    border-color: red;
}
input:focus {
    border:4px solid blue;
    box-shadow: 0 2px 1px rgb(91, 91, 252);

}
button + p {
    margin-left: 4rem;
    margin-top: 2rem;
}
button + p a {
    text-decoration: none;
    color: #596D48
    
}
.img-credit {
    align-self:flex-end;
    color: white;
    margin-top: auto;
    margin-bottom: 15px;
    align-self: center;
}
.img-credit a {
    color: white;
}
